.gitignore
tree.md
/recursos
/temp
/proyecto_final_BK01
/proyecto_final_BK02
/proyecto_final_BK03
/proyecto_final_BK04
/proyecto_final_BK05
/proyecto_final/.vscode
/tareas/tarea_2/tarea_2.txt
docker-compose.yml
/RespaldoCSS
/practicas_clase
