.a-button{
  border: 0;
  border-radius: 50px;
  height: clamp(49px, 9vw, 70px);
  width: 100%;  
  color: black;
  font-weight: 900;
  font-size: calc(16.8px + (24 - 16.8) * ((100vw - 320px) / (1280 - 320)));
  letter-spacing: 1.3pt;
  background-color: rgb(25, 188, 149);
  transition: background-color 0.2s ease;
}

.a-button:hover{
  box-shadow: rgb(25, 188, 149) 0px 0px 16px 0px;
}

.login-button {
  border: 0;
  letter-spacing: 2px;
  font-size: medium;
  padding: 17px 50px;
  border-radius: 50px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: rgb(25, 188, 149);
  text-transform: uppercase;
  transition: all 0.2s ease;
}

.login-button:hover{
  box-shadow: rgb(25, 188, 149) 0px 0px 16px 0px;
}

.landing-button-margin {
  margin-top: 20px;
}

.squareButton {
  padding: 20px 40px;
  border: 1px solid white;
  border-radius: 25px;
  color: black;
  /* font-size: clamp(16px, 2vw, 24px); */
  font-size: 24px;
  font-weight: bolder;
  background-color: rgba(255, 255, 255, 0.8);
  letter-spacing: 2px;;
}