button {
  cursor: pointer;
}

.headerButtonLogin,
.loginButton {
  border: 0;
  background-color: #4ac590;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  text-transform: uppercase;
  transition: all 0.2s ease;
}

.headerButtonLogin:focus,
.headerButtonLogin:hover,
.loginButton:focus,
.loginButton:hover {
  background-color: #4ac590;
  box-shadow: rgb(74, 197, 144) 0px 0px 15px 0px;
}

.headerButtonLogin {
  color: black;
  font-size: x-small;
  padding: 8px 12px;
  border-radius: 50px;
  letter-spacing: 1px;
}

.headerButtonLogin:focus,
.headerButtonLogin:hover {
  color: black;
  box-shadow: rgb(74, 197, 144) 0px 0px 15px 0px;
}

.headerButtonLogin:active {
  background-color: #35a776;
  box-shadow: rgb(74, 197, 144) 0px 0px 15px 0px;
}

.loginButton {
  letter-spacing: 4px;
  font-size: medium;
  padding: 17px 50px;
  border-radius: 50px;
  font-family: "Open Sans Regular";
  font-weight: bold;
  color: white;
}

.loginButton:focus,
.loginButton:hover {
  color: white;
}

.loginButton:active {
  background-color: #35a776;
  box-shadow: rgb(74, 197, 144) 0px 0px 15px 0px;
}

.squareButton {
  width: 325px;
  height: 65px;
  border: 0;
  border-radius: 15px;
  color: white;
  font-size: medium;
  font-weight: bold;
  background-color: #2c2c2c;
  font-family: "Open Sans Regular";
  letter-spacing: 2px;
  box-shadow: rgb(126, 126, 126) 0px 0px 15px 0px;
}

.squareButton:hover {
  color: #4ac590;
  box-shadow: rgb(74, 197, 144) 0px 0px 25px 0px;
}

.squareButton:active {
  background-color: #4ac590;
  color: #000000;
  box-shadow: rgb(74, 197, 144) 0px 0px 25px 0px;
}
.squareButton:focus {
  color: white;
  box-shadow: rgb(126, 126, 126) 0px 0px 15px 0px;
}
