.card-icon{
    max-height: 64px;
    width: auto;
}

.card-1 {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 20px;
    width: 350px;
    height: 156px;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.card-1-rs{
    text-align: left;
    padding-left: 20px;
    font-family: 'Arial Regular';
    letter-spacing: 1px;
}

.card-1-rs h1{
    text-align: left;
    /* font-size: 21px; */
}




.card-2 {
    background-color: transparent;
    padding: 20px;
    margin: 20px;
    width: 380px;
    min-width: 380px;
    /* height: 300px; */
    display: flex;
}

.card-2-rs{
    text-align: left;
    padding-left: 20px;
}

.card-2-rs h2{
    text-align: left;
    color: black;
    font-weight: bold;
    /* font-size: 21px; */
}

.card-2-rs p{
    font-family: 'Arial Regular';
    font-size: medium;
    color: rgb(65, 65, 65);
    /* letter-spacing: 1px; */
    line-height: 1.35;
}