.card-icon {
  max-height: 64px;
  width: auto;
}

.card-1 {
  background-color: rgb(253, 253, 253);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 30px;
  height: 230px;
  width: 400px;
  text-align: center;
  display: flex;
  flex-direction: row;
}

h3.card-1-rs {
  text-align: left;
}

/* ************ */
/* ** Card 2 ** */
/* ************ */

.card-2 {
  background-color: transparent;
  width: 100%;
  max-width: 380px;
  display: flex;
  padding: 20px;
  letter-spacing: 1px;
  line-height: 1.5;
}

.card-1-rs,
.card-2-rs {
  text-align: left;
  padding-left: 20px;
  letter-spacing: 0.5px;
}

.card-1-ls,
.card-2-ls {
  padding-top: 22px;
}