/* Font Sources */

@font-face {
	font-family: "Arial Regular";
	font-weight: normal;
	font-style: normal;
	src: url("../fonts/Arial-Regular.ttf") format(truetype);
}

.arial-regular-s{
    font-family: 'Arial Regular';
	font-size: small;
}

.arial-regular-m{
    font-family: 'Arial Regular';
	font-size: medium;
}

.arial-regular-l{
    font-family: 'Arial Regular';
	font-size: large;
}

.arial-regular-xl{
    font-family: 'Arial Regular';
	font-size: x-large;
}

.arial-regular-xxl{
    font-family: 'Arial Regular';
	font-size: xx-large;
}

.fc1{
    color: antiquewhite;
}