body,
html {
  display: block;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  min-width: 1280px;
  overflow-x: hidden;
  background-color: white;
  z-index: -1000;
}

nav,
header,
section,
footer {
	margin: 0;
	padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 100%;
  z-index: 1000;
  position: relative;
}

header {
  background-color: black;
  min-height: 30px;
}

nav {
  min-height: 120px;
}

article {
  text-align: justify;
  min-width: 1280px;
}

hr {
  width: 1000px;
  height: 1px;
  margin-top: 40px;
  border: 0;
  background-color: lightgray;
}

footer {
  margin-top: 80px;
  padding: 8px;
  align-items: normal;
  text-align: center;
  background-color: #2c2c2c;
  color: antiquewhite;
}

.main-logo {
  padding-top: 20px;
  padding-bottom: 20px;
  max-height: 300px;
  filter: drop-shadow(0px 0px 8px gray);

}

.div-margin {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
}

.bg2 {
  background-color: #ececec;
}

.body-div {
  display: flex;
  margin: 0;
  padding: 0;
  width: 1280px;
  min-width: 1280px;
  height: 100%;
  justify-content: center;
/* Borrar esto despues */
  /* background-color: grey; */
}

.body-div-inner {
  display: flex;
  min-width: 1280px;
  margin-top: 40px;
  margin-bottom: 40px;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.a1 {
  display: flex;
  flex-wrap: wrap;
  min-width: 1280px;
  max-width: 1280px;
}

.t3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  min-width: 1280px;
  max-width: 1280px;
  box-sizing: content-box;
}

.div-1 {
  width: 1200px;
  text-align: justify;
  line-height: 1.5;
  padding-top: 20px;
  padding-bottom: 80px;
}

.div-1 h2 {
  text-align: center;
}

.div-2 {
  width: 1280px;
  height: 600px;
  max-height: 600px;

  padding-bottom: 80px;
}

.rotate-h {
  transform: rotateY(180deg);
}

.img-round-1 {
  border-radius: 5px;
  box-shadow: rgb(203, 203, 203) 0px 0px 25px 0px;
}
