body {
  display: block;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  min-width: 1280px;
  overflow: scroll;
  background-color: white;
  z-index: -1000;
}

body::-webkit-scrollbar {
  display: none;
}

nav,
header,
section,
footer {
	margin: 0;
	padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 100%;
  z-index: 1;
  position: relative;
}

header {
  display: flex;
  background-color: black;
  min-height: 60px;
  height: 60px;
}

nav {
  min-height: 120px;
}

article {
  text-align: justify;
  min-width: 1280px;
}

hr {
  width: 1000px;
  height: 1px;
  margin-top: 40px;
  border: 0;
  background-color: lightgray;
}

footer {
  padding: 20px;
  align-items: normal;
  text-align: center;
  background-color: #2c2c2c;
  color: white;
  letter-spacing: 1px;
}

p.small{
  font-size: medium;
}

#bodyBlock {
  display: flex;
  margin: 0;
  padding: 0;
  width: 1280px;
  min-width: 1280px;
  height: 100%;
  justify-content: center;
}

#mainLogo300 {
  padding-top: 10px;
  padding-bottom: 10px;
  max-height: 300px;
  filter: drop-shadow(0px 0px 8px gray);
}

#contentMargin1 {
  display: flex;
  margin-top: 20px;
  margin-bottom: 40px;
}

#contentMargin2 {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
}

#contentMargin3 {
  display: flex;
  margin-top: 60px;
  margin-bottom: 10px;
}

#bodyBlockInner {
  display: flex;
  min-width: 1280px;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

#rotateH {
  transform: rotateY(180deg);
}

.bg2 {
  background-color: #EDEDED;
}

.bg3 {
  background-color: #2c2c2c;
}

.buttonSeparator {
  margin: 20px;
}

.marginX2 {
  margin-top: 40px;
  margin-bottom: 100px;
}

.imageRound1 {
  border-radius: 15px;
  box-shadow: rgb(60, 58, 58) 0px 0px 35px 20px;
}
