body,
html {
  display: block;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  min-width: 1280px;
  overflow-y: auto;
  background-color: white;
  z-index: -1000;
}

nav,
header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 1280px;
  z-index: 1000;
  position: relative;
}

header {
  background-color: black;
}

nav {
  height: 150px;
}

article{
	justify-items: center;
}

hr{
	width: 1000px;
	height: 1px;
	margin: 50px;
	border: 0;
	background-color: lightgray;
}

.main-logo {
	max-height: 300px;
	filter: drop-shadow(0px 0px 8px gray);
}

.body-div {
  padding: 0;
  margin: 0;
  width: 100%;
  min-width: 100%;
  z-index: 1;
  height: 100vh;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner-body-div {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 1280px;
  min-height: 100%;
}

.t2 {
	display: flex;
	background-color: white;
	width: 100%;
	min-width: 1280px;
	padding: 20px;
	align-items: center;
	justify-content: center;
}

.t3 {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	padding: 100px;
	background-color: #ececec;
	width: 100%;
	min-width: 1000px;
	align-items: center;
	justify-content: center;
}

.div-1{
	width: 1000px;
	text-align: left;
	line-height: 1.5;
}

.div-2{
	width: 1280px;
	padding: 20px;
}
