.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.login-video {
    width: 100%;
    height: 150px;
    object-fit: cover;
	position: relative;
}

.menu-logo, .menu {
    position: relative;
    z-index: 1001;
}

.menu-logo {
    max-height: 100px;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
	margin-left: 25%;
    
}

.menu li {
    display: inline-block;
	margin: 10px;
}

.menu a {
    text-decoration: none;
    color: antiquewhite; 
    transition: color 0.3s ease;
}

.menu a:hover {
    color: white;
}

a.menu-active, 
a.menu-active:hover,
a.menu-active:active {
	color: #4AC590;
}